<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taxist.googleMaps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.taxist.googleMaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.taxist.googleMaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_taxi" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDWQ0eg4uGMzdu64jrxSFsjQERLqo_lWWs" />

        <activity
            android:name="com.taxist.googleMaps.GoogleMaps"
            android:icon="@drawable/ic_taxi"
            android:label="@string/title_activity_google_maps" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.taxist.googleMaps.OAuthAccessActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="localhost"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.taxist.googleMaps.SettingsActivity"
            android:label="@string/naslov_aktivnosti_nastavitev" >
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.taxist.googleMaps.ListaTaxistov"
            android:label="@string/naslov_lista_taxistov" >
        </activity>
        <activity
            android:name="com.taxist.googleMaps.VstopnaStran"
            android:label="@string/title_activity_vstopna_stran"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.taxist.googleMaps.PrijavaGTalk"
            android:label="@string/title_activity_prijava_gtalk" >
        </activity>
    </application>

</manifest>